@model Assignment3_MVC_HospitalRecords.Models.UserTbl

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Login</legend>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    @Html.TextBoxFor(a => a.username_)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.username_)
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    @Html.PasswordFor(a => a.password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}
